<select name="especie" class="form-control" [(ngModel)]="especie">
    <option value="Human">Humano</option>
    <option value="Mutant">Mutante</option>
    <option value="Robot">Robot</option>
    <option value="Todos">Todos</option>
</select>


<div class="row">

    <div *ngForm="let item of personal">

    <div **ngIf="especie == item.species; else todos">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{{item.images.main}}">
                    <img src="{{item.images.main}}" alt="Lights" height="100">
    
                </a>
                <div class="caption">
                    <p>
                        Nombre: {{item.name.first}} {{item.name.middle}} {{item.name.last}} <br>
                        Especie: {{item.species}}
                        <br>
                        <button class="btn btn-primary" [routerLink]="['/personal', item.id]">
                            Ver Detalles
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <ng-template #todos>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{{item.images.main}}">
                    <img src="{{item.images.main}}" alt="Lights" height="100">
    
                </a>
                <div class="caption">
                    <p>
                        Nombre: {{item.name.first}} {{item.name.middle}} {{item.name.last}} <br>
                        Especie: {{item.species}}
                        <br>
                        <button class="btn btn-primary" [routerLink]="['/personal', item.id]">
                            Ver Detalles
                        </button>
                    </p>
                </div>
            </div>
    </ng-template>

    

    @for (item of personal; track item) {
    @if(especie == item.species){
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="{{item.images.main}}">
                <img src="{{item.images.main}}" alt="Lights" height="100">

            </a>
            <div class="caption">
                <p>
                    Nombre: {{item.name.first}} {{item.name.middle}} {{item.name.last}} <br>
                    Especie: {{item.species}}
                    <br>
                    <button class="btn btn-primary" [routerLink]="['/personal', item.id]">
                        Ver Detalles
                    </button>
                </p>
            </div>
        </div>
    </div>
    }

    @if('Todos' == item.species) {
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{{item.images.main}}">
                    <img src="{{item.images.main}}" alt="Lights" height="100">
    
                </a>
                <div class="caption">
                    <p>
                        Nombre: {{item.name.first}} {{item.name.middle}} {{item.name.last}} <br>
                        Especie: {{item.species}}
                        <br>
                        <button class="btn btn-primary" [routerLink]="['/personal', item.id]">
                            Ver Detalles
                        </button>
                    </p>
                </div>
            </div>
        </div>
    }
    }

</div>