<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Género</th>
        </tr>
    </thead>
    <tbody>
        @for (persona of personas; track persona) {
        <tr>
            <td>{{persona.id}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.edad}}</td>
            <td>{{persona.genero}}</td>
            <td>
                <button class='btn btn-success' [routerLink]="['/editar', persona.id ]">Editar</button>
                <button class="btn btn-danger" (click)="eliminar(persona.id)">Eliminar</button>
            </td>
        </tr>
        }
    </tbody>
</table>